{% extends 'base.html' %}
{% load bootstrap4 %}
{% load accountapp_filter %}

{% block content %}

    <div style="margin: 4rem auto; width: 500px; max-width: 90%">
        <div class="mb-4" style="text-align: center;">
            <h4>Sign Up</h4>
        </div>
        <form action="{% url 'accountapp:create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            <div style="text-align: center;">
                <input class="btn btn-dark rounded-pill col-4 mt-3" type="submit" id="write">
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}

    {# summernote js #}
    <script src="{% fresh_static 'javascript/summernote.js' %}"></script>

{% endblock %}