{% extends 'base.html' %}
{% load static %}
{% load accountapp_filter %}
{% block head_title %}시냅스 컴포넌트 - 파트너{% endblock %}
{% block content %}

    <style>
        .container {
            padding: 0;
            margin: 0 auto;
        }

        .container div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
        }

        .container img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border-radius: 10rem;
        }

        .container img:hover {
            filter: brightness(30%);
            transition: 0.2s;
        }

        .img-description {
            position: absolute;
            color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: opacity .2s;
            pointer-events: none;
            text-align: center;
        }

        .img-wrap:hover .img-description {
            visibility: visible;
            opacity: 1;
        }

        .accounts-list {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        @media screen and (max-width: 500px) {
            .container img {
                width: 4.5rem;
                height: 4.5rem;
            }

            .accounts-list {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    </style>

    {% if account_list %}
        <div class="container" style="margin-top: 2rem;">
            {% for account in account_list %}
                {% if not account.is_superuser %}
                    <a href="{% url 'accountapp:detail' pk=account.pk %}">
                        <div class="accounts-list" style="display: block; text-align: center;">
                            <div class="img-wrap">
                                {% if account.profile.image %}
                                    <img src="{{ account.profile.image.url }}" alt="">
                                {% else %}
                                    <img src="https://picsum.photos/id/{{ account.pk }}/300/300" alt="">
                                {% endif %}
                                <p class="img-description mt-2" style="font-size: 1.5rem"><strong>view</strong></p>
                            </div>
                            <h5 class="mt-2" style="font-size: 1rem;">
                                {{ account.profile.nickname }}
                                <div class="text-muted my-1" style="font-size: 0.9rem;">
                                    {% for role in account.profile.role_tag.all %}
                                        {{ role }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </h5>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h4>
                파트너가 없습니다
            </h4>
        </div>
    {% endif %}

    <script src="{% fresh_static 'javascript/magicgrid.js' %}"></script>

{% endblock %}