{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="container" style="margin: 4rem auto;">
        <div class="mb-4" style="text-align: center;">
            <h4>Change Info</h4>
        </div>
        <form action="{% url 'accountapp:update' pk=target_user.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            <div style="text-align: center;">
                <input class="btn btn-dark rounded-pill col-4 mt-3" type="submit">
            </div>
        </form>
    </div>

{% endblock %}