{% extends 'base.html' %}
{% load static %}
{% block head_title %}시냅스 컴포넌트 - 회사소개{% endblock %}
{% block content %}

    <style>
        section {
            display: flex;
            justify-content: space-between;
            padding-top: 5%;
            padding-bottom: 5%;
            margin-bottom: 100px;
        }

        /* Scroll Animation (sa, 스크롤 애니메이션) */
        .sa {
            opacity: 0;
            transition: all .5s ease;
        }

        /* 아래에서 위로 페이드 인 */
        .sa-up {
            transform: translate(0, 100px);
        }

        /* 왼쪽에서 오른쪽으로 페이드 인 */
        .sa-right {
            transform: translate(-100px, 0);
        }

        /* 오른쪽에서 왼쪽으로 페이드 인 */
        .sa-left {
            transform: translate(100px, 0);
        }

        .sa.show {
            opacity: 1;
            transform: none;
        }

        p {
            font-size: 1.2rem;
        }

        .container {
            margin-top: 100px;
        }

        .section_image_01 {
            width: 13rem;
            height: 13rem;
        }

        .section_image_02 {
            width: 15rem;
            height: 15rem;
        }

        .section_image_03 {
            width: 15rem;
            height: 15rem;
        }

        .section_01 {

        }

        .section_02 {

        }

        .section_03 {

        }

        @media screen and (max-width: 500px) {
            .container {
                margin-top: 0;
                margin-bottom: 0;
            }

            div.container {
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
            }

            section {
                margin-top: 0;
                margin-bottom: 0;
            }

            .section_image_01 {
                width: 7rem;
                height: 7rem;
            }

            .section_image_02 {
                width: 8rem;
                height: 8rem;
            }

            .section_image_03 {
                width: 8rem;
                height: 8rem;
            }
        }
    </style>

    <div class="container">
        <div>
            <section class="section_01">
                <div class="sa sa-up col-12" data-sa-margin="0" style="text-align: center;">
                    <img class="section_image_01" style="max-width: 100%; margin: auto;"
                         src="{% static 'images/Angel_logo_1024x1024.png' %}" alt="">
                    <p style="margin-top: 30px; text-align: center; font-size: 1.3rem;">
                        <strong>"재밌는 게임을 만들겠다는 말 말고 무슨 말을 더 할 수 있을까요?"</strong></p>
                    <p>시냅스 컴포넌트는 최상의 경험을 제공하는 게임 및 프로젝트 개발 회사입니다.</p>
                </div>
            </section>
{#            <section class="section_02">#}
{#                <div class="sa sa-right col-12" style="text-align: center;">#}
{#                    <img class="section_image_02" style="max-width: 100%; margin: auto;"#}
{#                         src="{% static 'images/introduction_01.png' %}" alt="">#}
{#                    <p style="margin-top: 30px; text-align: center; font-size: 1.3rem;">#}
{#                        <strong>"끊임없이 프로젝트를 기획하고 개발합니다."</strong></p>#}
{#                    <p>다양한 팀원들과 호흡을 맞춰 프로젝트를 완성해나갑니다.</p>#}
{#                </div>#}
{#            </section>#}
{#            <section class="section_03">#}
{#                <div class="sa sa-left col-12" style="text-align: center;">#}
{#                    <img class="section_image_03" style="max-width: 100%; margin: auto;"#}
{#                         src="{% static 'images/introduction_02.png' %}" alt="">#}
{#                    <p style="margin-top: 30px; text-align: center; font-size: 1.3rem;">#}
{#                        <strong>"창의력을 마음껏 발휘합니다."</strong></p>#}
{#                    <p>기존의 틀에 얽매이지 않고 문제를 해결해 나갑니다.</p>#}
{#                </div>#}
{#            </section>#}
        </div>
    </div>

    <script>
        const saDefaultMargin = 300;
        let saTriggerMargin = 0;
        let saTriggerHeight = 0;
        const saElementList = document.querySelectorAll('.sa');

        const saFunc = function () {
            for (const element of saElementList) {
                if (!element.classList.contains('show')) {
                    if (element.dataset.saMargin) {
                        saTriggerMargin = parseInt(element.dataset.saMargin);
                    } else {
                        saTriggerMargin = saDefaultMargin;
                    }

                    if (element.dataset.saTrigger) {
                        saTriggerHeight = document.querySelector(element.dataset.saTrigger).getBoundingClientRect().top + saTriggerMargin;
                    } else {
                        saTriggerHeight = element.getBoundingClientRect().top + saTriggerMargin;
                    }

                    if (window.innerHeight > saTriggerHeight) {
                        element.classList.add('show');
                    }
                }
            }
        }

        window.addEventListener('load', saFunc);
        window.addEventListener('scroll', saFunc);
    </script>

{% endblock %}