{% load static %}
{% load accountapp_filter %}

<style>
    .container {
        padding: 0;
        margin: 0 auto;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border-radius: 10rem;
    }

    .participant-list {
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @media screen and (max-width: 500px) {
        .container img {
            width: 4.5rem;
            height: 4.5rem;
        }

        .participant-list {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
</style>

{% if participant_list %}
    <div class="container">
        {% for participant in participant_list %}
            <a href="{% url 'accountapp:detail' pk=participant.user.pk %}">
                <div class="participant-list" style="display: block;">
                    {% if participant.user.profile.image %}
                        <img src="{{ participant.user.profile.image.url }}" alt="">
                    {% else %}
                        <img src="https://picsum.photos/id/{{ participant.user.pk }}/300/300" alt="">
                    {% endif %}
                    <h5 class="mt-2" style="font-size: 1rem;">
                        {{ participant.user.profile.nickname }}
                    </h5>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="text-center">
        <h4>
            참여자가 없습니다
        </h4>
    </div>
{% endif %}

<script src="{% fresh_static 'javascript/magicgrid.js' %}"></script>