{% extends 'base.html' %}
{% load bootstrap4 %}
{% load accountapp_filter %}

{% block content %}

    <div class="container" style="margin: 4rem auto;">
        <div class="mb-4" style="text-align: center;">
            <h4>Project Create</h4>
        </div>
        <form action="{% url 'projectapp:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            <div style="text-align: center;">
                <input class="btn btn-dark rounded-pill col-2 mt-3" type="submit" id="write">
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}

    {# summernote js #}
    <script src="{% fresh_static 'javascript/summernote.js' %}"></script>

{% endblock %}