{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div style="text-align: center; margin: 3rem auto;">
            <h1 style="margin-bottom: 3rem;">
                {{ target_project.title }}
            </h1>

            <p>
                {{ target_project.content | safe }}
            </p>

            {% if target_project.writer == user %}
                <a href="{% url 'projectapp:update' pk=target_project.pk %}" class="btn btn-secondary rounded-pill">
                    수정
                </a>
                <a href="{% url 'projectapp:delete' pk=target_project.pk %}" class="btn btn-danger rounded-pill">
                    삭제
                </a>
            {% endif %}

            <br>
            <br>
            <strong>프로젝트 참여자</strong>
            <hr>
        </div>
    </div>

{% endblock %}