{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div style="margin: 3rem auto;">
            <h1 style="text-align: center; margin-bottom: 3rem;">
                {{ target_project.title }}
            </h1>

            <p>
                {{ target_project.content | safe }}
            </p>

            {% if target_project.writer == user %}
                <div style="text-align: center;">
                    <a href="{% url 'projectapp:update' pk=target_project.pk %}" class="btn btn-secondary rounded-pill">
                        수정
                    </a>
                    <a href="{% url 'projectapp:delete' pk=target_project.pk %}" class="btn btn-danger rounded-pill">
                        삭제
                    </a>
                </div>

            {% endif %}

            <br>
            <br>
            <div style="text-align: center;">
                <strong>프로젝트 구성원</strong>
            </div>
            <hr>
        </div>
    </div>

{% endblock %}