{% load static %}
<div class="sc_footer">
    <div class="text-muted sc_footer_info small">
        <span>시냅스 컴포넌트</span> |
        <span>대표 김재성 710-34-00854</span> |
        <span>서울시 중구 난계로 17길 18 1201호</span> |
        <span>전자상거래 소매업</span> |
        <span><a href="{% url 'informationapp:privacypolicy' %}">개인정보 처리방침</a></span> |
        <span>대표이메일 webdornald@daum.net</span>

    </div>
    <div style="margin-top: 1rem;">
        <h6 class="sc_footer_logo">©Synapse Component</h6>
    </div>
</div>