{% load static %}
<div>
    <div style="text-align: center; margin: 3rem auto;">
        <a href="{% url 'informationapp:index' %}">
            <img class="sc_header_logo" src="{% static 'images/Synapse-Component_Logo.png' %}"
                 alt="Synapse Component">
        </a>
    </div>

    <hr>

    <div class="text-muted" style="text-align: center;">
        <a class="text-decoration-none text-muted" href="">
            <span>회사소개</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="{% url 'projectapp:list' %}">
            <span>프로젝트</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="">
            <span>파트너</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="">
            <span>문의</span>
        </a>

        {% if user.is_authenticated %}
            &emsp;
            |
            &emsp;
            <a class="text-decoration-none text-muted" href="{% url 'accountapp:detail' pk=user.pk %}">
                Profile
            </a>
            &emsp;
            <a class="text-decoration-none text-muted" href="">
                <span>Create Project</span>
            </a>
            &emsp;
            <a class="text-decoration-none text-muted" href="{% url 'accountapp:logout' %}?next={{ requset.path }}">
                <span>logout ({{ user.profile.nickname }})</span>
            </a>
        {% endif %}
    </div>
</div>
