{% load static %}
<div>
    <div style="text-align: center;">
        <img class="sc_header_logo" src="{% static 'images/Synapse-Component_Logo_650x300.png' %}"
             alt="Synapse Component">
    </div>

    <hr>

    <div class="text-muted" style="text-align: center;">
        <a class="text-decoration-none text-muted" href="">
            <span>회사소개</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="">
            <span>프로젝트</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="">
            <span>파트너</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="">
            <span>문의</span>
        </a>

        {% if user.is_authenticated %}
            &emsp;
            <a class="text-decoration-none text-muted" href="">
                <span>Create Project ({{ user.username }})</span>
            </a>
            &emsp;
            <a class="text-decoration-none text-muted" href="{% url 'accountapp:logout' %}?next={{ requset.path }}">
                <span>logout</span>
            </a>
        {% endif %}
    </div>
</div>
