{% load static %}
<style>
    a span:hover {
        color: #000000;
    }
</style>

<div>
    <div style="text-align: center; margin: 3rem auto;">
        <a href="{% url 'informationapp:index' %}">
            <img class="sc_header_logo" src="{% static 'images/Synapse-Component_Logo.png' %}"
                 alt="Synapse Component">
        </a>
    </div>

    <hr>

    <div class="text-muted" style="text-align: center;">
        <a class="text-decoration-none text-muted" href="{% url 'informationapp:index' %}">
            <span>회사소개</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="{% url 'projectapp:list' %}">
            <span>프로젝트</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="{% url 'accountapp:list' %}">
            <span>파트너</span>
        </a>
        &emsp;
        <a class="text-decoration-none text-muted" href="{% url 'accountapp:login' %}">
            <span>로그인</span>
        </a>

        {% if user.is_authenticated %}
            &emsp;
            |
            &emsp;
            <a class="text-decoration-none text-muted" href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>Profile</span>
            </a>
            &emsp;
            <a class="text-decoration-none text-muted" href="{% url 'projectapp:create' %}">
                <span>Create Project</span>
            </a>
            &emsp;
            <a class="text-decoration-none text-muted" href="{% url 'accountapp:logout' %}?next={{ requset.path }}">
                <span>logout{% if user.profile %} ({{ user.profile.nickname }}){% endif %}</span>
            </a>
        {% endif %}
    </div>
</div>
